.message
  .message__upper-info
    %p.message__upper-info__talker matt
    %p.message__upper-info__date 2029/10/21(Sun) 16:44:49
  %p.message__text テスト
.message
  .message__upper-info
    %p.message__upper-info__talker matt
    %p.message__upper-info__date 2029/10/21(Sun) 17:21:12
  %p.message__text gfhjtyjwtyj