.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name matt
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
            %i.fa.fa-edit
          %li.side-header__box__menu__edit-user
            %i.fa.fa-cog
    .groups
      .group
        %p.group__group-name m
        %p.group__latest-message テスト
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          m
        %ul.main-header__left-box__member-list
          Member：
          %li.main-header__left-box__member-list__member matt
        .main-header__edit-btn Edit
    .messages
      .message
        .message__upper-info
          %p.message__upper-info__talker matt
          %p.message__upper-info__date 2029/10/21(Sun) 16:44:49
        %p.message__text テスト
      .message
        .message__upper-info
          %p.message__upper-info__talker matt
          %p.message__upper-info__date 2029/10/21(Sun) 17:21:12
        %p.message__text gfhjtyjwtyj
    .form
      %form
        .new-message
          .input-box
            %input.input-box__text{:placeholder => "type a message", :type => "text"}/
            %label.input-box__image
              %i.fa.fa-image
              %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}/
          %input.submit-btn{:name => "commit", :type => "submit", :value => "Send"}/
